[Desktop Entry]
Name=AMD GPU Top
Comment=Monitor AMD GPU usage and processes
Exec=/usr/bin/amdgpu-top
Icon=amdgpu-top
Terminal=true
Type=Application
Categories=System;Monitor; 